
<head>
  <title>Kanban Bored</title>
</head>
<body>
</body>
<template name="nav">
  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
        <ul class="button-group">
          <li><a href="/" class="button">Home</a></li>
          <li><a href="/todo" class="button">To Do</a></li>
          <li><a href="/progress" class="button">In Progress</a></li>
          <li><a href="/done" class="button">Done</a></li>
        </ul>
      </div>
      <h1>Kanban <small>Write It Down, Get It Done.</small></h1>
      <hr/>
    </div>
    {{>user}}
  </div>

{{> yield}}

</template>

<template name="user">
  {{#if currentUser}}
    {{> dashboard}}
    {{>form}}
  {{else}}
    {{>login}}
  {{/if}}
</template>

<template name="form">
  <form class="new-task">
    <input type="text" name="title" placeholder="To Do Task">
    <input type="text" name="description" placeholder="Details of Task">
    <input id="submitTask" type="submit" value="submit">
  </form>
</template>

